<main>
	<div class="nav-bar">
		<img id="icon" src="../../assets/img/rocket.png">
		<h1>PVP Calculator</h1>
	</div>
	<div class="login-section">
		<div class="login-inner">
			<!-- <img src="../../assets/img/rocket.png"> -->
			<form>
				<div id="user">
					<label name="user">Usuario:</label><br>
					<input name="user" type="text"><br>
				</div>
				<div id="passw">
					<label name="passw">Contraseña:</label><br>
					<input name="passw" type="password"><br>
				</div>
				<button>Entrar</button>
			</form>
		</div>
	</div>
</main>
