<main>
	<app-nav-bar></app-nav-bar>
	<div class="login-section">
		<div class="login-inner">
			<!-- <img src="../../assets/img/rocket.png"> -->
			<form>
				<div id="user">
					<label name="user">Usuario:</label><br>
					<input name="user" type="text"><br>
				</div>
				<div id="passw">
					<label name="passw">Contraseña:</label><br>
					<input name="passw" type="password"><br>
				</div>
				<button>Entrar</button>
				<p>
					Aún no estás registrado? Pulsa el siguiente enlace ->
					<a>Regístrate!</a>
				</p>
			</form>
		</div>
	</div>
</main>
