<div class="global-container">
	<form method="post" (ngSubmit)="onSubmit()">
		<div class="input-field">
			<label>Nombre del producto:</label><br>
			<input id="prodName" type="text" name="product-name" [(ngModel)]=newProd.prodName required><br><br>
			<button type="submit">Guardar</button>
		</div>
	</form>
	<div class="lower-section">
		<p id="registered-products-title">Productos registrados:</p>
		<div class="registered-products">
			<div class="item" *ngFor="let product of products">
				<p id="prodName">{{product.prodName}}</p>
				<p id="prodQuantity">{{product.prodQuantity}} Kg</p>
				<p id="prodWAP">{{product.prodWAP}} €/Kg</p>
				<a id="delete" href="http://localhost:4200/side-menu/add-product" (click)="deleteOnClick(product.prodId)">
					X
				</a>
			</div>

		</div>
	</div>
</div>
