<div class="main-container">
	<div class="nav-bar">
		<img id="icon" src="../../assets/img/rocket.png">
		<h1>PVP Calculator</h1>
	</div>
	<div class="central-section">
		<div class="side-menu">
			<div class="sideMenu-item">
				<span class="material-symbols-outlined">
					shopping_bag
				</span>
				<p>Compras</p>

			</div>
			<div class="sideMenu-item">
				<span class="material-symbols-outlined">
					receipt
				</span>
				<p>Platos</p>
			</div>
		</div>
		<div class="main-section">
			<app-dashboard></app-dashboard>
		</div>
	</div>
</div>



