<app-sign-up></app-sign-up>

<!-- <app-login></app-login> -->

<!-- <div class="main-container">
	<app-nav-bar></app-nav-bar>
	<div class="central-section">
		<div class="side-menu">
			<div class="sideMenu-item">
				<span class="material-symbols-outlined">
					shopping_bag
				</span>
				<p>Compras</p>

			</div>
			<div class="sideMenu-item">
				<span class="material-symbols-outlined">
					receipt
				</span>
				<p>Platos</p>
			</div>
		</div>
		<div class="main-section">
			<app-dashboard></app-dashboard>
		</div>
	</div>
</div> -->



