h1 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#icon {
	width: 3%;
	height: 100%;
	margin-right: 2em;
}

.material-symbols-outlined {
	padding-top: 0.6em;
	margin-right: 1em;
}

router-outlet {
	width: 100%;
}
