<div class="title-container">
	<h1>Regístrate en PVP Calculator:</h1>
	<p>
		Crea una cuenta gratuíta o <a routerLink="sign-up" routerLinkActive="active" (click)="goToLogin()">logeate</a>
	</p>
</div>
<div class="form-container">
	<form method="post" (ngSubmit)="onSubmit()">
		<div class="name">
			<label name="name">Nombre:</label>
			<input id="name" name="name" type="text" [(ngModel)]=user.userName required>
		</div>
		<div class="last_name">
			<label name="last_name">Apellidos:</label>
			<input id="lastName" name="last_name" type="text" [(ngModel)]=user.userLastName required>
		</div>
		<div class="email">
			<label name="email">Email:</label>
			<input id="email" name="email" type="email" [(ngModel)]=user.userEmail required>
		</div>
		<div class="passw">
			<label name="passw">Contraseña:</label>
			<input id="passw" name="passw" type="password" [(ngModel)]=user.userPassw>
		</div>
		<div class="conf_pass">
			<label name="conf_passw">Confirmar Contraseña:</label>
			<input id="confPassw" name="conf_passw" type="password" required>
		</div>
		<button class="register" type="submit">Registrarse</button>
	</form>
</div>

