<div class="title-container">
	<h1>Regístrate en PVP Calculator:</h1>
	<p>
		Crea una cuenta gratuíta o <a routerLink="sign-up" routerLinkActive="active" (click)="goToLogin()">logeate</a>
	</p>
</div>
<div class="form-container">
	<form>
		<div class="name">
			<label name="name">Nombre:</label>
			<input name="name" type="text">
		</div>
		<div class="last_name">
			<label name="last_name">Apellidos:</label>
			<input name="last_name" type="text">
		</div>
		<div class="email">
			<label name="email">Email:</label>
			<input name="email" type="email">
		</div>
		<div class="passw">
			<label name="passw">Contraseña:</label>
			<input name="passw" type="password">
		</div>
		<div class="conf_pass">
			<label name="conf_passw">Confirmar Contraseña:</label>
			<input name="conf_passw" type="password">
		</div>
		<button class="register">Registrarse</button>
	</form>
</div>

