<main>
	<article id="compras">
		<h3>Tus compras más recientes:</h3>
		<div id="compras-recientes">
			<div class="compra-item" *ngFor="let record of purchaseRecords">
				<p class="item-description">{{record.product.prodName}}</p>
				<p class="item-price">{{record.recPrice}} €/Kg</p>
			</div>
		</div>
	</article>
	<article id="recetas">
		<h3>Tus productos:</h3>
		<div id="platos-recientes">
			<div class="plato-item" *ngFor="let product of products">
				<p class="item-description">{{product.prodName}}</p>
				<p class="item-price">{{product.prodWAP}} €/Kg</p>
			</div>
		</div>
	</article>
</main>
