<main>
	<article id="compras">
		<h3>Tus compras más recientes:</h3>
		<div id="compras-recientes">
			<div class="compra-item" *ngFor="let record of purchaseRecords">
				<p class="item-description">{{record.product.prodName}}</p>
				<p class="item-price">{{record.recPrice}} €/Kg</p>
			</div>
		</div>
	</article>
	<article id="recetas">
		<h3>Recetas añadidas recientemente:</h3>
		<div id="platos-recientes">
			<div class="plato-item">
				<p class="item-description">Item de prueba</p>
				<p class="item-price">20.-€</p>
			</div>
		</div>
	</article>
</main>
