
main {
	display: grid;
	grid-template-rows: 1;
	grid-template-columns: 2;
	background-color: #212529;
	padding: 0 1em;
	width: 100%;
	height: 100%;
	color: whitesmoke;
	border: 1px solid whitesmoke;
	align-items: center;
	justify-items: center;
}


#recetas, #compras {
	height: 70%;
	background-color: gainsboro;
	color: black;
	border-radius: 10px;
	padding: 1em 2em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
}

#compras {
	grid-row: 1;
	grid-column: 1/2;
	width: 80%;
}

#recetas {
	grid-row: 1;
	grid-column: 2/3;
	width: 80%;
}

.compra-item, .plato-item {
	display: grid;
	grid-template-columns: 2;
	grid-template-rows: 1;
	background-color:teal;
	border-radius: 10px;
	padding: 0 2em;
	color: whitesmoke;
	margin-bottom: 1em;
}

.item-description {
	grid-column: 1/2;
}

.item-price {
	grid-column: 2/3;
	justify-self: end;
}
