<div class="main-container">
	<div class="nav-bar">
		<img id="icon" src="../../assets/img/rocket.png">
		<h1>PVP Calculator</h1>
	</div>
	<div class="central-section">
		<div class="side-menu">
			<div class="sideMenu-item">
				<span class="material-symbols-outlined">
					shopping_bag
				</span>
				<p>Compras</p>

			</div>
			<div class="sideMenu-item">
				<span class="material-symbols-outlined">
					receipt
				</span>
				<p>Platos</p>
			</div>
		</div>
		<main>
			<article id="compras">
				<h3>Tus compras más recientes:</h3>
				<div id="compras-recientes">
					<div class="compra-item">
						<p class="item-description">Item de prueba</p>
						<p class="item-price">50.-€</p>
					</div>
				</div>
			</article>
			<article id="recetas">
				<h3>Recetas añadidas recientemente:</h3>
				<div id="platos-recientes">
					<div class="plato-item">
						<p class="item-description">Item de prueba</p>
						<p class="item-price">20.-€</p>
					</div>
				</div>
			</article>
		</main>
	</div>
</div>
